@font-face {
  font-family: "Satoshi";
  src:
    url("./assets/font/Satoshi-Regular.woff2") format("woff2"),
    url("./assets/font/Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --element-background: blanchedalmond;
  --border: darksalmon;
}

.dropdown-menu {
  font-family: "Satoshi";
  text-align: center;
}

.dropdown-element {
  display: inline-block;
  background-color: var(--element-background);
  padding: 0;
  margin: 0;
  padding: 4px;
  border: none;
  position: relative;
}

.dropdown-element:hover {
  cursor: pointer;
}

.entry-container {
  display: inline-block;
  margin-top: 2px;
  position: absolute;
  left: 0;
  right: 0;
  margin-inline: auto;
  width: fit-content;
}

.drop-entry {
  background-color: var(--element-background);
  padding: 3px;
}

.drop-entry:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

.invisible {
  display: none;
}
